* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  padding: 30px 3%;
}

.grid_body {
  display: grid;
  /* grid-template-columns: 30% 200px 50%; */
  /* grid-template-columns: 33.3333% 33.3333% 33.3333%; */
  /* grid-template-columns: minmax(150px, 1fr) 1fr 2fr; */

  /* grid-template-columns: auto 1fr auto; */
  /* grid-template-rows: repeat(2, auto); */

  /* grid-template-columns: fit-content(300px) 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 30px;

  /* column-gap: 30px;
  row-gap: 10px; */
  /* grid-template-rows: repeat(2, 50%); */
}
.grid-item {
  text-align: center;
  border: 2px double black;
  padding: 20px;
}
