.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;

  visibility: hidden;
  pointer-events: none;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  // background-color: var(--active);
  // color: var(--color);
}

.centered-elements {
  @include flexible();
  // border: 5px solid red;
}

.block {
  width: 300px;
  height: 300px;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 16px;
  // transition-property: background-color;
  // transition-delay: 0;
  // transition-duration: 0.3s; /* 300ms*/
  // transition-timing-function: linear;

  opacity: 1;
  transform: skew(0deg, 0deg);

  transition: transform 1s linear, opacity 1s linear;
  &:hover {
    opacity: 0.25;
    transform: skew(13deg, 16deg);
  }
}

.green-block {
  @extend .block;
  background-color: green;
}

.yellow-block {
  @extend .block;
  background-color: yellow;
}

.gallery {
  @extend %flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  max-width: 960px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  height: 619px;

  background-image: url(../../assets/imgs/EATS-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../assets/imgs/EATS-2x.jpg);
  }
}
