%button {
  width: 200px;

  display: inline-flex;
  border-radius: 5px;
  background-color: blue;
  color: yellow;
  font-size: 24px;
  padding: 15px;
  font-weight: 600;

  position: absolute;
  right: 20px;
  top: 22px;
}

.button-error {
  @include nGRIVtisia(korochka) {
    background-color: yellow;
  }
  @extend %button;
  background-color: red;
}
.button-accept {
  @extend %button;
  background-color: green;
}
